 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <p>{{ post.description }}</p>
                            {% if post.img %}
                                <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered">
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.eventdate %}
                                <li>Date:
                                    <strong>{{ post.eventdate }}</strong>
                                </li>
                                {% endif %}
                                {% if post.link %}
                                <li>Link:
                                    <strong><a href="{{ post.link }}">{{ post.title }}</a>
                                    </strong>
                                </li>
                                {% endif %}
                                <li>Frequency:
                                    <strong>{{ post.frequency }}</strong>
                                </li>
                            </ul>
                            {% for section in post.sections %}
                                <h3>{{ section.title }}</h3>
                                <p>{{ section.description }}</p>
                                {% if section.img %}
                                <img src="img/portfolio/{{ section.img }}" class="img-responsive img-centered" alt="{{ section.alt }}">
                                {% endif %}
                                <ul class="list-inline item-details">
                                    {% if section.date %}
                                    <li>Date:
                                        <strong>{{ section.date }}</strong>
                                    </li>
                                    {% endif %}
                                    {% if section.link %}
                                    <li>Link:
                                        <strong><a href="{{ section.link }}">{{ section.title }}</a>
                                        </strong>
                                    </li>
                                    {% endif %}
                                </ul>
                            {% endfor %}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
